<table class="list">
  <tr>
    <th><%= check_all_th %></th>
    <th>ID</th>
    <th>Nome</th>
    <th>Alias</th>
    <th>Link</th>
    <th>Menu</th>
    <th>Ordem</th>
    <th>Publicado</th>
    <th>Remover ?</th>
  </tr>

<% @itens_menu.each do |item_menu| %>
  <%= render item_menu, :nivel => 0 %>
<% end %>
</table>
<%= pagination_footer @itens_menu %>
