<div class="page_header">
  <h1>Ãtens de menu</h1>
</div>

<div class="inside">

  <div id="filtros">
	  <%= form_tag( "/administrator/itens_menu/buscar", :remote => :true ) do %>
		  <%= select 'menu', "id", options_for_select( Menu.all.collect {|m| [ m.nome, m.id ] }, ( params[:menu][:id] unless params[:menu].nil? ) ), :include_blank => "-- Selecione um menu --" %>
		    <%= submit_tag "Buscar" %>
	  <% end %>
  </div>

  <div id="itens-menu-index">
    <%= render "itens" %>
  </div>
</div>

