<div id="pagina<%= @pagina.id %>" class="pagina">
  <h1 class="titulo">
    <%= @pagina.titulo_artigo %>
  </h1>
  <% unless @pagina.conteudo.nil? %>
      <div id="conteudo">
        <%= @pagina.conteudo.gsub('<hr />', '').html_safe %>
      </div>
  <% end %>
</div>
