<li>
  <%= link_to administrator_paginas_path, :class => "paginas-leftbar" do %>
    <span>Páginas</span>
  <% end %>
</li>
<li class="<%= (@detalhes_parcial == 'paginas') ? 'menu-item-aberto' : 'menu-item-fechado' %>">
  <ul class="menu submenu">
  	<%= render "/administrator/paginas/menu_detalhes" %>
  </ul>
</li>