<li>
  <%= link_to administrator_paginas_path, :class => "pagina-leftbar" do %>
    <span>Páginas</span>
  <% end %>
</li>
<li>
  <%= link_to new_administrator_pagina_path, :class => "add-leftbar" do %>
    <span>Adicionar página</span>
  <% end %>
</li>
